<section class="py-32">
    <div class="w-full md:max-w-2xl mx-auto ">
        <div class="container mx-auto py-16 px-3 flex justify-center items-center
        bg-linear-to-b md:bg-linear-to-r from-white to-cyan-200 shadow-2xl rounded-4xl
        min-h-[300px]
        ">




            @if (oobCode) {
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()"
                class="shadow-2xl  bg-white   md:w-10/12 border-2 border-cyan-200 p-7">
                <h1 class="text-3xl font-bold text-gray-800 mb-2 text-center">Reset New Password</h1>

                <div>
                    <label for="newPassword" class="block mb-2 capitalize font-bold text-gray-700">New Password</label>
                    <input type="password" id="newPassword"
                        class="form-control w-full p-3 border border-gray-300 rounded-xl focus:ring-cyan-500 focus:border-cyan-500"
                        placeholder="*******" formControlName="newPassword" [ngClass]="{
                        'valid':!resetForm.get('newPassword')?.errors  && (resetForm.get('newPassword')?.touched ||  resetForm.get('newPassword')?.dirty ),
                        'invalid':resetForm.get('newPassword')?.errors  && (resetForm.get('newPassword')?.touched ||  resetForm.get('newPassword')?.dirty ) ,
                     }">

                    @if(resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched){
                    <div class="bg-red-400 text-lg p-2 rounded my-3 font-semibold shadow-lg">
                        @if(resetForm.get('newPassword')?.getError('required')){<p>password must be required</p>}
                        @else if(resetForm.get('newPassword')?.getError('pattern')){<p>password formate is not correct
                        </p>}

                    </div>
                    }
                </div>

                <div>
                    <label for="confirmPassword" class="block mb-2 capitalize font-bold text-gray-700">Confirm New
                        Password</label>
                    <input type="password" id="confirmPassword"
                        class="form-control w-full p-3 border border-gray-300 rounded-xl" placeholder="*******"
                        formControlName="confirmPassword"
                        [ngClass]="{
                        'valid':!resetForm.getError('missMatch') && (resetForm.get('confirmPassword')?.touched ||  resetForm.get('confirmPassword')?.dirty ),
                        'invalid':resetForm.getError('missMatch') && (resetForm.get('confirmPassword')?.touched ||  resetForm.get('confirmPassword')?.dirty ) ,
                    }"
                        >

                    @if (resetForm.get('confirmPassword')?.hasError('passwordMismatch') &&
                    resetForm.get('confirmPassword')?.touched) {
                    <div class="bg-cyan-300 text-lg p-3 rounded-2xl my-3 font-semibold shadow-2xl">pass & confirm pass
                        not the same</div>
                    }
                </div>

                @if (errorText && !loading) {
                <div
                    class="p-3 bg-red-100 border border-red-400 text-red-700 rounded-lg text-center font-semibold mb-4">
                    {{ errorText }}
                </div>
                }

                <button type="submit" [disabled]="resetForm.invalid || loading"
                    class="w-full p-3 rounded-2xl text-lg font-bold text-white transition duration-200"
                    [ngClass]="{'bg-cyan-700 hover:bg-cyan-800 cursor-pointer': !loading, 'bg-gray-400 cursor-not-allowed': loading}">
                    @if (loading) {
                    <span>pass changing ...</span>
                    } @else {
                    <span>change password</span>
                    }
                </button>

                <p class="text-center text-gray-600 mt-4">
                    <a [routerLink]="['/login']" class="text-cyan-700 hover:text-blue-700 font-semibold">Back
                        to
                        register</a>

                    <a [routerLink]="['/login']" class="text-cyan-400 hover:text-cyan-500 mt-3.5"> <i
                            class="fa-solid fa-arrow-right "></i></a>
                </p>
            </form>
            }
        </div>
    </div>
</section>