<section class=" py-32">
    <div class="w-full md:max-w-2xl mx-auto  ">
        <div class="container mx-auto py-16 px-3 flex justify-center items-center
        bg-linear-to-b md:bg-linear-to-r from-white to-cyan-200 shadow-2xl rounded-4xl
        min-h-[300px]
        ">


            <form [formGroup]="forgetForm" (ngSubmit)="sendResetLink()"
                class="shadow-2xl  bg-white   md:w-10/12 border-2 border-cyan-200 p-7">
                <h1 class="text-3xl font-bold text-gray-800 mb-2 text-center">Forget Password ?</h1>



                <div class="my-9">
                    <label for="email" class=" font-bold whitespace-nowrap">plz enter your email:</label>

                    <input type="email" id="email" class="form-control mt-1 w-full p-3" placeholder="ex:rabab@gmail.com"
                        formControlName="email" [ngClass]="{
                        'valid':!forgetForm.get('email')?.errors  && (forgetForm.get('email')?.touched ||  forgetForm.get('email')?.dirty ),
                        'invalid':forgetForm.get('email')?.errors  && (forgetForm.get('email')?.touched ||  forgetForm.get('email')?.dirty ) ,
                     }">
                    @if(forgetForm.get('email')?.errors && forgetForm.get('email')?.touched){
                    <div class="bg-cyan-300 text-lg p-3 rounded-2xl my-3 font-semibold shadow-2xl">
                        @if(forgetForm.get('email')?.getError('required')){<p>email must be required</p>}
                        @else if(forgetForm.get('email')?.getError('email')){<p>email formate is not correct</p>}

                    </div>
                    }

                </div>

                @if (errorText) {
                <div class="p-3 bg-red-100 border border-red-400 text-red-700 rounded-lg text-center font-semibold">
                    {{ errorText }}
                </div>
                }

                @if (successMessage) {
                <div class="p-3 bg-cyan-300  hover:bg-cyan-500 text-black rounded-2xl text-center font-semibold text-[17px]">
                    {{ successMessage }}
                </div>
                }

                <button type="submit" [disabled]="forgetForm.invalid || loading"
                    class="w-full p-3 my-4 rounded-2xl text-lg font-bold text-black transition duration-200"
                    [ngClass]="{'bg-cyan-300 hover:bg-cyan-500 cursor-pointer': !loading, 'bg-gray-400 cursor-not-allowed': loading}">
                    @if (loading) {
                    <span>Sending...</span>
                    } @else {
                    <span>Resend the resetPassword Link</span>
                    }
                </button>

                <p class="text-center  my-6 text-xl flex  justify-center">
                    <a [routerLink]="['/login']" class="text-black p-3 rounded-2xl  font-semibold cursor-pointer">Back
                        to
                        Login</a>

                    <a [routerLink]="['/login']" class="text-cyan-400 hover:text-cyan-500 mt-3.5"> <i
                            class="fa-solid fa-arrow-right "></i></a>
                </p>

            </form>

        </div>
    </div>
</section>