<section class="py-28">
    <div class="max-w-6xl mx-auto px-6">
        <div class="container mx-auto">
            <div class="flex items-center justify-center min-h-screen p-4 relative">
                <div class="bg-linear-to-b md:bg-linear-to-r from-white  to-cyan-200  shadow-2xl rounded-4xl p-10 w-full max-w-lg">
                    <h1 class="text-3xl font-bold text-gray-800 mb-4">
                        @if (step === 'email') {
                            Forgot Password
                        } @else {
                            Verify Code
                        }
                    </h1>

                    @if (errorText) {
                        <div class="my-4 p-3 rounded-lg text-center font-semibold bg-teal-300">
                            {{ errorText }}
                        </div>
                    }

                    @if (step === 'email') {
                        <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()">
                            <div class="my-5">
                                <label for="email" class="capitalize font-bold">Email:</label>
                                <input type="email" id="email" class="form-control" formControlName="email"
                                [ngClass]="{
                                      'valid':!emailForm.get('email')?.errors  && (emailForm.get('email')?.touched ||  emailForm.get('email')?.dirty ),
                                      'invalid':emailForm.get('email')?.errors  && (emailForm.get('email')?.touched ||  emailForm.get('email')?.dirty ) ,
                               }"
                                >
                            </div>
                            <button type="submit" [disabled]="emailForm.invalid || loading" class="w-full bg-cyan-500 hover:bg-cyan-600 p-2 rounded-2xl text-white font-bold">
                                Send Reset Code
                                @if (loading) { <span><i class="fa-solid fa-circle-notch fa-spin"></i></span> }
                            </button>
                        </form>
                    }

                    @if (step === 'code') {
                        <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
                            <p class="mb-4 text-sm text-gray-600">Enter the code sent to: **{{ userEmail }}**</p>
                            <div class="my-5">
                                <label for="resetCode" class="capitalize font-bold">Reset Code:</label>
                                <input type="text" id="resetCode" class="form-control" formControlName="resetCode">
                            </div>
                            <button type="submit" [disabled]="codeForm.invalid || loading" class="w-full bg-cyan-500 hover:bg-cyan-600 p-2 rounded-2xl text-white font-bold">
                                Verify and Reset Password
                                @if (loading) { <span><i class="fa-solid fa-circle-notch fa-spin"></i></span> }
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>